html, body {
	height: 100%;	/* required for footer - html and body elements cannot have any padding or margin */
}

body {
	padding-top: 55px;
}

.well {
	padding: 9px;
}

div.sessioninfo {
	float: left;
/*	color: #A1745F;*/
/*	color: green;*/
/*	color: #72BA58;*/
	color: rgb(57,129,33);
/*	width: 40%;*/
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 40px;
}

div.status {
	float: left;
	width: 10%;
	text-align: center;
	line-height: 40px;
}

div.sessionops {
	float: right;
/*	width: 49%;*/
	text-align: right;
	line-height: 40px;
}

.attendance {
/*	width: 960px;*/
	width: 100%;
	clear: both;
}

td.place {
	border: 1px solid #ddd;
	min-height: 3em;
	vertical-align: top;
	width: 16%;
}

td.occupied {
	color: #040;
/*	background-color: #C0D997;*/
/*	background-color: #C0C997;*/
	background-color: rgb(187,232,172);
}

td.self {
	color: black;
/*	background-color: #C0D997;*/
	background-color: #72BA58;
}

.free {
	/*
	background-color: #EEF5C1;
	color: black;
	*/
/*	background-color: #EFC;*/
/*	background-color: #E9FFE2;*/
	background-color: #DADCDA;
	color: #DED;

}

td.disabled {
	visibility: hidden;
}

.icon-trash {
	float: right;
}

div.adminView{
	margin: 15px;
}

form {
	margin: 0px 0px 0px 0px;
}

h3 span {
	font-size: 14px;
	display: block;
	line-height: 1;
	color: #999;
	font-weight:normal
}
